.container {column-gap: 25px;
    display: flex;
    height: auto;
    width: 45.5vw;
    margin: 2px;
    justify-content: center;
    background-color: silver;
    border-radius: 10px;
}
.container div {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.container span, .container i {
    
    color: #FFFFFF;
}
.container a {
    display: inline-flex;
    align-items: center;
    transition-property: 
    outline-offset, outline-color, background-color;
    transition-duration: .25s;
    
}
.container:hover {
    animation: shake .25s;
    outline-offset: 4px;
    outline-color: #a02d76;
    border: white solid 2px;
}
.containerWhatsapp:hover {
    background-color:#34af23;
}
.containerLinkedin:hover {
    background-color:  #007bb6;
}
.containerGithub:hover {
    background-color: #010409;
}
.containerEmail:hover {
    background-color: #da4d39;
}

.text {
    width: 100%;
    font-size: 40px;
}
.container a {
    text-decoration: none;
    font-weight: 600;
}

.container:active {
    text-decoration: none;
}


@media (max-width: 991px) {
    .container {
        width: 88vw;
        margin: 4px;
    } 

    .text {
        width: 70%;
    }

}
@keyframes shake {
    10%{transform: rotate(0.8deg);}
    20%{transform: rotate(-0.8deg);}
    30%{transform: rotate(0.8deg);}
    40%{transform: rotate(-0.8deg);}

}