@media (max-width: 991px) {
    .container {
        padding: 1em;
        height: auto;
        width: 77vw;
        margin: 10px;
        justify-content: center;
        background-color: silver;
        border-radius: 10px;

    }
    .container a {
        text-decoration: none;
        font-size: 30px;
        font-weight: 700;
        color: black;
    }
    .container :active {
        text-decoration: none;
    }
    .container:hover{
        background-color: rgb(244, 244, 244);
    }
}