.container {
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 991px) {
    .container {
        justify-content: space-between;
        padding: 1em;
        height: 99vh;
        width: 100vw;
        background-color: black;

    }

    .container h1 {
        text-shadow: 3px 3px white;
        font-size: 44px;
    }

    .container section {
        background-image: url('../../assents/profile.jpeg');
        background-size: cover;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
    }
    .container header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 50%;
        border-radius: 10%;
        background-color: silver;
    }
}